grafana:
  grafana.ini:
    auth:
      disable_login_form: true
      disable_signout_menu: true
    auth.anonymous:
      enabled: true
      org_role: Admin
      org_name: Main Org.

  # Configuración de alertas
  alerting:
    alertrules.yaml:
      groups:
        - orgId: 1
          name: Alertes
          folder: Alertes
          interval: 10s
          rules:
            - uid: bf4fz74p8hekgf
              title: Pod Failure
              condition: C
              data:
                - refId: A
                  relativeTimeRange:
                    from: 600
                    to: 0
                  datasourceUid: prometheus
                  model:
                    editorMode: code
                    expr: '{mainstat="0"}'
                    instant: true
                    intervalMs: 1000
                    legendFormat: __auto
                    maxDataPoints: 43200
                    range: false
                    refId: A
                - refId: C
                  relativeTimeRange:
                    from: 0
                    to: 0
                  datasourceUid: __expr__
                  model:
                    conditions:
                      - evaluator:
                          params: [0]
                          type: gt
                        operator:
                          type: and
                        query:
                          params: ["C"]
                        reducer:
                          params: []
                          type: last
                        type: query
                    datasource:
                      type: __expr__
                      uid: __expr__
                    expression: A
                    intervalMs: 1000
                    maxDataPoints: 43200
                    refId: C
                    type: threshold
              dashboardUid: adcf9f9
              panelId: 3
              noDataState: NoData
              execErrState: Error
              for: 10s
              keepFiringFor: 10s
              annotations:
                __dashboardUid__: adcf9f9
                __panelId__: "3"
                description: Pod status (Firing alert if nodes is down)
                summary: Node down
              labels: {}
              isPaused: false

  # Configuración de seguridad
  securityContext:
    runAsUser: 472
    runAsGroup: 472
    fsGroup: 472
